In [1]:
#alter jupyter display, this is optional
from IPython.display import display, HTML

display(HTML(data="""
<style>
    div#notebook-container    { width: 95%; }
    div#menubar-container     { width: 65%; }
    div#maintoolbar-container { width: 99%; }
</style>
"""))

In [2]:
import pandas as pd
import os

In [3]:
filepath = os.path.join('winemag-data-130k-v2.csv')
master_df = pd.read_csv(filepath)
master_df.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [4]:
master_df = master_df[['title', 'variety', 'winery', 'country', 'province', 'region_1', 'region_2', 'description', 'designation', 'points', 'price', 'taster_name', 'taster_twitter_handle']]
master_df.head()

,title,variety,winery,country,province,region_1,region_2,description,designation,points,price,taster_name,taster_twitter_handle
0,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,Italy,Sicily & Sardinia,Etna,NaN,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Kerin O’Keefe,@kerinokeefe
1,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,Portugal,Douro,NaN,NaN,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Roger Voss,@vossroger
2,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,US,Oregon,Willamette Valley,Willamette Valley,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Paul Gregutt,@paulgwine
3,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,US,Michigan,Lake Michigan Shore,NaN,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Alexander Peartree,NaN
4,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,US,Oregon,Willamette Valley,Willamette Valley,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Paul Gregutt,@paulgwine

In [5]:
test = master_df.dropna(subset = ['points'])

In [ ]:
len(test)

In [6]:
wine_df = master_df[['title', 'variety', 'winery', 'description', 'designation', 'points', 'taster_twitter_handle']]
wine_df.head()

,title,variety,winery,description,designation,points,taster_twitter_handle
0,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,@kerinokeefe
1,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,@vossroger
2,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,"Tart and snappy, the flavors of lime flesh and...",NaN,87,@paulgwine
3,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,NaN
4,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,@paulgwine

In [7]:
test_df = master_df[['province']].dropna()
print(len(test_df))
print(len(master_df))

129908
129971

In [8]:
winery_df = master_df[['winery', 'country', 'province']]
winery_df = winery_df.drop_duplicates().reset_index()[['winery', 'country', 'province']]
winery_df.head()

                winery   country           province
0              Nicosia     Italy  Sicily & Sardinia
1  Quinta dos Avidagos  Portugal              Douro
2            Rainstorm        US             Oregon
3           St. Julian        US           Michigan
4         Sweet Cheeks        US             Oregon

In [9]:
province_df = master_df[['province', 'country']]
province_df = province_df.drop_duplicates().reset_index()[['province', 'country']]
province_df.head()

            province   country
0  Sicily & Sardinia     Italy
1              Douro  Portugal
2             Oregon        US
3           Michigan        US
4     Northern Spain     Spain

In [10]:
country_df = master_df[['country']]
country_df = country_df.drop_duplicates().reset_index()[['country']]
country_df.head()

    country
0     Italy
1  Portugal
2        US
3     Spain
4    France

In [11]:
taster_df = master_df[['taster_twitter_handle', 'taster_name']]
taster_df = taster_df.drop_duplicates().reset_index()[['taster_twitter_handle', 'taster_name']]
taster_df.head()

  taster_twitter_handle         taster_name
0          @kerinokeefe       Kerin O’Keefe
1            @vossroger          Roger Voss
2           @paulgwine         Paul Gregutt
3                   NaN  Alexander Peartree
4           @wineschach   Michael Schachner

In [12]:
taster_list = []
for index, row in master_df.iterrows():
    taster = row['taster_name']
    handle = row['taster_twitter_handle']
    for index, row in taster_df[taster_df.taster_name == taster].iterrows():
        if taster == row['taster_name'] and handle == row['taster_twitter_handle']:
            taster_id = index
        else:
            taster_id = None
    taster_list.append(taster_id)
taster_list

[0,
 1,
 2,
 None,
 2,
 4,
 0,
 1,
 None,
 1,
 6,
 1,
 6,
 0,
 7,
 None,
 4,
 4,
 4,
 None,
 None,
 2,
 0,
 7,
 0,
 6,
 0,
 0,
 0,
 6,
 1,
 1,
 1,
 1,
 1,
 2,
 4,
 4,
 4,
 4,
 4,
 2,
 1,
 1,
 4,
 4,
 4,
 4,
 4,
 1,
 1,
 4,
 4,
 1,
 1,
 1,
 6,
 6,
 4,
 9,
 6,
 0,
 9,
 1,
 7,
 1,
 1,
 9,
 10,
 1,
 9,
 6,
 0,
 6,
 6,
 6,
 None,
 11,
 2,
 1,
 4,
 4,
 1,
 11,
 6,
 None,
 9,
 6,
 0,
 0,
 6,
 6,
 6,
 12,
 9,
 1,
 1,
 None,
 0,
 6,
 None,
 None,
 None,
 4,
 0,
 0,
 0,
 0,
 7,
 0,
 1,
 6,
 0,
 0,
 7,
 7,
 7,
 7,
 0,
 0,
 0,
 0,
 0,
 11,
 11,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 11,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 6,
 7,
 7,
 7,
 None,
 7,
 6,
 1,
 7,
 7,
 4,
 7,
 None,
 1,
 0,
 0,
 1,
 7,
 7,
 1,
 4,
 4,
 1,
 7,
 6,
 6,
 None,
 None,
 4,
 2,
 11,
 11,
 4,
 4,
 4,
 1,
 1,
 1,
 1,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 11,
 11,
 1,
 1,
 1,
 1,
 13,
 6,
 10,
 0,
 0,
 14,
 1,
 7,
 7,
 6,
 6,
 13,
 11,
 13,
 11,
 4,
 7,
 6,
 14,
 0,
 1,
 6,
 15,
 6,
 0,
 0,
 0,
 4,
 13,
 13,
 13,
 13,
 13,
 16,
 4,
 4,
 2,
 2,
 2,
 2,
 2,
 11,
 11,
 1,
 1,
 1,
 1,
 4,
 4,
 4,
 4,
 2,
 2,
 2,
 2,
 2,
 4,
 4,
 6,
 13,
 13,
 13,
 1,
 2,
 4,
 6,
 6,
 13,
 13,
 4,
 4,
 4,
 1,
 1,
 16,
 16,
 4,
 4,
 4,
 4,
 4,
 2,
 2,
 1,
 1,
 0,
 2,
 4,
 1,
 1,
 4,
 1,
 1,
 1,
 0,
 1,
 11,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 2,
 2,
 2,
 2,
 6,
 None,
 1,
 16,
 16,
 16,
 11,
 11,
 11,
 11,
 11,
 1,
 1,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 16,
 16,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 1,
 1,
 4,
 13,
 1,
 4,
 12,
 6,
 4,
 4,
 4,
 11,
 11,
 None,
 11,
 11,
 0,
 15,
 6,
 1,
 None,
 6,
 11,
 1,
 None,
 1,
 11,
 0,
 6,
 1,
 2,
 11,
 11,
 4,
 11,
 11,
 11,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 11,
 4,
 11,
 4,
 11,
 1,
 1,
 1,
 1,
 1,
 11,
 4,
 4,
 4,
 4,
 4,
 1,
 1,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 1,
 4,
 4,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 16,
 1,
 1,
 1,
 9,
 9,
 12,
 10,
 None,
 4,
 None,
 12,
 9,
 7,
 7,
 9,
 10,
 0,
 12,
 0,
 6,
 4,
 4,
 9,
 12,
 None,
 6,
 12,
 0,
 7,
 1,
 11,
 0,
 1,
 0,
 1,
 1,
 9,
 9,
 6,
 6,
 0,
 1,
 2,
 2,
 1,
 1,
 None,
 0,
 1,
 2,
 None,
 None,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 13,
 13,
 11,
 11,
 11,
 11,
 11,
 4,
 1,
 2,
 2,
 None,
 6,
 4,
 6,
 6,
 1,
 4,
 6,
 1,
 1,
 11,
 4,
 4,
 2,
 2,
 6,
 7,
 1,
 1,
 6,
 4,
 6,
 6,
 6,
 1,
 10,
 7,
 7,
 2,
 2,
 9,
 7,
 2,
 None,
 1,
 6,
 4,
 2,
 2,
 2,
 7,
 None,
 9,
 6,
 2,
 7,
 7,
 7,
 0,
 6,
 7,
 6,
 6,
 7,
 6,
 0,
 6,
 6,
 1,
 4,
 1,
 9,
 4,
 7,
 10,
 6,
 6,
 10,
 6,
 7,
 7,
 7,
 6,
 4,
 6,
 9,
 9,
 10,
 0,
 1,
 11,
 1,
 1,
 None,
 1,
 10,
 9,
 9,
 9,
 7,
 12,
 9,
 12,
 12,
 10,
 12,
 7,
 12,
 9,
 12,
 11,
 9,
 16,
 12,
 7,
 7,
 7,
 4,
 4,
 None,
 4,
 4,
 9,
 9,
 1,
 2,
 2,
 2,
 2,
 1,
 1,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 9,
 9,
 9,
 9,
 9,
 9,
 11,
 6,
 2,
 12,
 12,
 11,
 6,
 4,
 11,
 12,
 12,
 12,
 7,
 6,
 1,
 6,
 7,
 2,
 1,
 1,
 None,
 6,
 0,
 12,
 11,
 7,
 12,
 10,
 2,
 13,
 6,
 9,
 6,
 10,
 0,
 6,
 0,
 0,
 9,
 4,
 None,
 9,
 9,
 6,
 None,
 10,
 6,
 6,
 9,
 0,
 0,
 9,
 4,
 9,
 0,
 0,
 9,
 6,
 0,
 7,
 9,
 7,
 12,
 10,
 0,
 6,
 13,
 0,
 11,
 12,
 9,
 13,
 4,
 1,
 1,
 1,
 1,
 11,
 1,
 1,
 1,
 6,
 11,
 6,
 6,
 6,
 11,
 4,
 11,
 1,
 1,
 1,
 1,
 4,
 4,
 1,
 None,
 0,
 1,
 2,
 4,
 1,
 10,
 13,
 1,
 1,
 4,
 4,
 7,
 1,
 4,
 0,
 None,
 1,
 1,
 6,
 0,
 1,
 11,
 11,
 None,
 1,
 1,
 4,
 1,
 1,
 4,
 4,
 4,
 4,
 4,
 6,
 6,
 4,
 4,
 4,
 4,
 4,
 11,
 4,
 11,
 11,
 1,
 1,
 1,
 1,
 2,
 2,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 4,
 1,
 6,
 4,
 None,
 9,
 2,
 1,
 9,
 7,
 1,
 1,
 1,
 1,
 1,
 7,
 6,
 1,
 9,
 9,
 2,
 10,
 11,
 0,
 4,
 6,
 None,
 10,
 11,
 0,
 9,
 None,
 4,
 1,
 1,
 4,
 4,
 0,
 7,
 10,
 0,
 0,
 4,
 1,
 2,
 1,
 1,
 1,
 0,
 4,
 1,
 4,
 4,
 2,
 None,
 1,
 10,
 1,
 2,
 0,
 0,
 12,
 12,
 1,
 1,
 1,
 1,
 12,
 None,
 10,
 7,
 0,
 7,
 2,
 6,
 7,
 0,
 0,
 7,
 None,
 0,
 11,
 2,
 4,
 7,
 10,
 6,
 2,
 15,
 1,
 1,
 4,
 4,
 1,
 1,
 1,
 4,
 4,
 4,
 4,
 4,
 13,
 1,
 2,
 2,
 2,
 2,
 2,
 11,
 11,
 11,
 6,
 2,
 2,
 2,
 4,
 1,
 None,
 None,
 0,
 None,
 None,
 1,
 0,
 0,
 4,
 13,
 2,
 14,
 4,
 2,
 2,
 0,
 0,
 4,
 11,
 1,
 4,
 1,
 11,
 10,
 4,
 1,
 0,
 10,
 4,
 0,
 1,
 1,
 1,
 1,
 2,
 2,
 4,
 10,
 1,
 4,
 6,
 4,
 2,
 6,
 6,
 1,
 1,
 0,
 6,
 10,
 4,
 2,
 10,
 0,
 0,
 6,
 4,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 11,
 4,
 4,
 4,
 4,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 16,
 4,
 1,
 1,
 2,
 4,
 4,
 1,
 1,
 1,
 1,
 1,
 1,
 11,
 2,
 2,
 ...]

In [ ]:
taster_list